@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  background-color: green;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

video {
  margin: 0;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -2;
  object-fit: cover;
}

.container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.counter {
  font-weight: bold;
  font-size: 40px;
  padding: 10px 150px 10px 150px;
  background-image: url(https://i.pinimg.com/originals/96/dc/58/96dc58bf59e10d75b45957dcace49547.gif);
  color: red;
  text-align: center;
  margin-bottom: 0;
  border-radius: 20px;
  border: none;
  background-size: cover;
  z-index: -2;
}

.card {
  width: 400px;
  /* Ancho inicial */
  height: 500px;
  /* Alto inicial */
  position: relative;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: rgb(255, 255, 255);
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-width: 3px;
}

.card-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.size-slider label {
  color: white;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
  z-index: 2;
}

.button {
  margin-top: 20px;
}

#button {
  background-image: url(https://cdn-icons-png.flaticon.com/512/683/683905.png);
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 40px 70px;
  font-size: 40px;
  color: white;
  background-color: #0045f2;
  border: none;
  border-radius: 100%;
  box-shadow: 0 6px #3a96e7;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

#button:active {
  box-shadow: 0 3px#0045f2;
  transform: translateY(3px);
}

.top-suit,
.bottom-suit {
  position: absolute;
}

.top-suit {
  top: 10px;
  left: 18px;
  font-size: 130px;
  padding: 0;
}

.bottom-suit {
  bottom: 18px;
  right: 18px;
  transform: rotate(180deg);
  font-size: 130px;
  padding: 0;
}

.number {
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}
